@import "tailwindcss";

@import "./_variables.css";
@import "./_reset.css";

html {
  scroll-behavior: smooth;
  font-family: "DM Sans", sans-serif;
}

body {
  min-width: 320px;
  min-height: 100vh;
}